agm-map {
  height: 60vh;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.marker{
  width: 20px;
  height: 20px;
}

.row {
  width: 100%;
  margin: 0px;
}

.my-form, .card {
  width: 100%;
}