<agm-map *ngIf="mapReady"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
    *ngIf="userMarker"
    class="marker"
    [latitude]="userMarker.lat"
    [longitude]="userMarker.lng"
    [label]="userMarker.label"
    [markerDraggable]="userMarker.draggable"
    [iconUrl]="userIcon">
  </agm-marker>

  <agm-marker-cluster [imagePath]="clusterIcon">
    <agm-marker class="marker"
        *ngFor="let s of shits; let i = index"
        (markerClick)="markerClicked(s, infoWindow)"
        [latitude]="s.lat"
        [longitude]="s.lng"
        [label]="s.label"
        [markerDraggable]="s.draggable"
        [iconUrl]="pooIcon">
        (dragEnd)="markerDragEnd(s, $event)">
      
      <agm-info-window #infoWindow>
        <p>{{clickedMarker.name}}</p>
        <p>Pooped by: a {{clickedMarker.type}}</p>
        <p>Plopped out {{minutesAgo}} minutes ago.</p>
        <button (click)="pickUpShit()" class="btn btn-warning">Pick Up</button>

      </agm-info-window>

    </agm-marker>
  </agm-marker-cluster>
</agm-map>
<div class="row">
<main class="my-form">
  <div class="row justify-content-center">
    <div class="card">
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Origin</label>
          </div>
          <select class="custom-select form-control" id="inputGroupSelect01" [(ngModel)]="selectedtype" name="value">
            <option *ngFor="let type of types" [ngValue]="type.value">{{type.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="text" class="form-control" [(ngModel)]="poopname" placeholder="shittyname">
        </div>
        <div class="buttons">
          <button (click)="shitPost()" class="btn btn-warning">Shitpost</button>
        </div>
        <div class="message" *ngIf="message">
          <p>{{message}}</p>
        </div>
      </form>
    </div>
  </div>
</main>
</div>