<agm-map *ngIf="mapReady"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
    *ngIf="userMarker"
    class="user"
    [latitude]="userMarker.lat"
    [longitude]="userMarker.lng"
    [label]="userMarker.label"
    [markerDraggable]="userMarker.draggable"
    [iconUrl]="userIcon">
  </agm-marker>

  <agm-marker-cluster [imagePath]="clusterIcon">
    <agm-marker class="marker"
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        [iconUrl]="pooIcon">
        (dragEnd)="markerDragEnd(m, $event)">
      
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>
  </agm-marker-cluster>
</agm-map>