agm-map {
  height: 60vh;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.lol{
  width: 100%;
}

.marker{
  width: 20px;
  height: 20px;
}

.row {
  width: 100%;
  margin: 0px;
}

.my-form, .card {
  width: 100%;
}

.modal-body {
  background-color: rgb(104, 55, 20);
  color: orange;
  font-weight: bolder;
  text-align: center;
}

.input-group-text {
  background-color: rgb(104, 55, 20);
  color: orange;
}
