<agm-map *ngIf="mapReady"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
    *ngIf="userMarker"
    class="marker"
    [latitude]="userMarker.lat"
    [longitude]="userMarker.lng"
    [label]="userMarker.label"
    [markerDraggable]="userMarker.draggable"
    [iconUrl]="userIcon">
  </agm-marker>

  <agm-marker-cluster [imagePath]="clusterIcon">
    <agm-marker class="marker"
        *ngFor="let s of shits; let i = index"
        (markerClick)="markerClicked(s, infoWindow)"
        [latitude]="s.lat"
        [longitude]="s.lng"
        [label]="s.label"
        [markerDraggable]="s.draggable"
        [iconUrl]="pooIcon">
        (dragEnd)="markerDragEnd(s, $event)">
      
      <agm-info-window #infoWindow>
        <p>{{clickedMarker.name}}</p>
        <p>Pooped by: a {{clickedMarker.type}}</p>
        <p>Plopped out {{minutesAgo}} minutes ago.</p>
        <button (click)="pickUpShit()" class="btn btn-warning">Pick Up</button>

      </agm-info-window>

    </agm-marker>
  </agm-marker-cluster>
</agm-map>