<div class="col-12 about">
<h4>Thank you very much for using our application thus cleaning your city! Hereby you can read more about our team and our project.</h4>
<h2>Team</h2>
<p>We gathered together and created this application because we also give a shit. We have been learning full-stack in the past months so we could manage and assign frontend and backend tasks really conveniently. If you would like to join our fastly improving and friendly team, appearently you can't because we don't give a shit. And we don't have any money. Yet.</p>
<h2>Members</h2>
<div class="card">
  <img class="card-img-top" src="./../../../assets/images/HebaleBzhedugova.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hebale Bzhedogova</h5>
    <p class="card-text">National Functionality Designer</p>
  </div>
    <div class="card">
      <img class="card-img-top" src="./../../../assets/images/BjeshkanThaci.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bjeshkan Thaci</h5>
        <p class="card-text">Direct Usability Engineer</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./../../../assets/images/FilbertHankerdoodle.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Filbert Hankerdoodle</h5>
        <p class="card-text">Product Operations Director</p>
      </div>
    </div>
    </div>
      <div class="card">
        <img class="card-img-top" src="./../../../assets/images/JaakkimaRautio.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jaakkima Rautio</h5>
          <p class="card-text">Product Optimalization Administrator</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./../../../assets/images/KlonimirVlaev.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Klonimir Vlaev</h5>
          <p class="card-text">Forward Implement Strategist</p>
        </div>
      </div>
<h2>Final words</h2>
<p>This project was made in Angular and within 24 hours. Our team is the best.</p>
<p>Don't forget to run tests! Get Linted.</p>
<button class="btn btn-warning" (click)="backToTop()">Back to top</button>
</div>
