<div class="row">
  <div class="logoImage">
    <img src="../../../assets/83412465_155980622505718_411819765196128256_n.png" class="img-thumbnail mx-auto d-block"/>
  </div>
  <main class="my-form">
    <div class="row justify-content-center">
      <div class="card">
        <h1 class="card-header text-center">Sign Up</h1>
        <form>
          <div class="form-group">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter e-mail" required>
            <p for="email" class="col-form-label" *ngIf="emailError">{{emailError}}</p>
          </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="Enter username" required>
            <p for="username" class="col-form-label" *ngIf="usernameError">{{usernameError}}</p>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
            <p for="password" class="col-form-label" *ngIf="passwordError">{{passwordError}}</p>
          </div>
          <div class="form-group">
            <input type="password" name="confirmPsw" class="form-control" [(ngModel)]="confirmPsw" placeholder="Confirm your password" required>
            <p for="confirmPsw" class="col-form-label" *ngIf="confirmPswError">{{confirmPswError}}</p>
          </div>
          <div class="buttons">
            <button type="button" class="btn btn-secondary" (click)="cancelRegistration()">cancel</button>
            <button type="submit" class="btn btn-warning" (click)="registerUser()" data-toggle="modal" data-target="#exampleModalCenter">Sign up</button>
          </div>
          <!-- <div class="col-sm-10 bottomMessage" role="alert">
            <h4 class="alert-heading">{{messageSuccess}}</h4>
          </div> -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">{{messageSuccess}}</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>