<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <h1 class="card-header text-center">Poops of Fame</h1>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Poopname</th>
                <th scope="col">Type</th>
                <!-- <th scope="col">Reported by</th> -->
                <th scope="col">Reported</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shit of oldestShits">
                <th scope="row">{{ shit.name }}</th>
                <td>{{ shit.type }}</td>
                <!-- <td>{{ shit.addedById }}</td> -->
                <td>{{ shit.timestamp * 1000 | dateAgo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <h1 class="card-header text-center">Cleaners of Fame</h1>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Collected poops</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cleaner of topCleaners; let ndx = index">
                <th scope="row">{{ndx+1}}</th>
                <td>{{ cleaner.id.username }}</td>
                <td>{{ cleaner.id.Total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <h1 class="card-header text-center">Shitterz of Fame</h1>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Reported poops</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pooper of topPoopers; let ndx = index">
                <th scope="row">{{ ndx+1 }}</th>
                <td>{{ pooper.id.username }}</td>
                <td>{{ pooper.id.Total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
